.description{
    font-size: 20px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    padding: 2%;
    padding-bottom: 1%;
    color: darkslateblue;
    margin-left: 2%;
    margin-right: 2%;
}

.smallText{
    text-align: center;
    font-size: 25px;
    color: darkslategrey;
    font-weight: 350;
}