.Header{
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100% );
    color: white;
    padding: 20px;
}

.Header-img{
    height: 100%;
    margin-right: 6px;
}

.Header-title{
    font-size: 20px;
    margin-right: auto;
}

.Header-project{
    font-size: 15px;
    font-weight: 500;
}